<a href="https://colab.research.google.com/github/lokeshreddy0229/ARTIFICIAL-INTELLIGENCE-AND-MACHINE-LEARNING/blob/main/ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Task1-Create two lists and join those two lists

In [17]:
list1=[1,5,6,9,0]

In [58]:
list2=[12,4,7,9,3]

In [59]:
list3=list1+list2

In [60]:
print('join list: '+str(list3))

join list: [1, 5, 6, 9, 0, 12, 4, 7, 9, 3]

In [61]:
# Task2-with 'if' statement find the even numbers

In [62]:
a = int(input("Enter a : "))
if((a%2)==0):
  print("even")
else:
    print("odd")

Enter a : 6
even

In [63]:
# Task3-create a dictionary with 3 keys and 2 values for each key

In [64]:
demo = {'first':[2,7],
         'second':[8,9],
         'third':[6,5]}

In [65]:
example=demo['first']

In [66]:
print(example)

[2, 7]

In [67]:
# Task4-Create a function with 'if' statement to find odd numbers

In [68]:
b=int(input("enter b :"))
if((b%2)==0):
  print("not odd")
else:
    print("it is odd")

enter b :3
it is odd

In [69]:
# Task5-write a python function to sum all the numbers in the list

In [70]:
list=[8,9,7,5,6,]

In [71]:
total=sum(list)

In [72]:
print("the sum of list is :",total)

the sum of list is : 35