<a href="https://colab.research.google.com/github/ChittiBhavaniSivaCharan/Artificial-intelligence-and-Machine-learning-/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task1-Create two lists and join those two lists

In [ ]:
test_list1=[1,14,15,6,5]

In [ ]:
test_list2=[3,4,7,12,551]

In [ ]:
test_list3=test_list1+test_list2

In [ ]:
print('join list using+:'+str(test_list3))

join list using+:[1, 14, 15, 6, 5, 3, 4, 7, 12, 551]

In [ ]:
#task2-with'if'statement find the even numbers

In [ ]:
number=int(input('Enter a number:'))
if((number%2)==0):
  print("even")
else:
    print("odd")

Enter a number:4
even

In [ ]:
#task3-create a dictionary with 3 keys and 2 values for each key

In [19]:
demo={'first':[1,2],
      'second':[3,4],
      'third':[5,6]}

In [20]:
example=demo['first']

In [21]:
print(example)

[1, 2]

In [22]:
#task4-create a function with 'if' statement which is used to find the odd numbers

In [25]:
numb=int(input("Enter a number:"))
if((numb%2)==0):
  print("Not odd")
else:
  print("Odd")

Enter a number:15
Odd

In [26]:
#task5-write a python function to sum all the numbers in a list
# sample list:(8,2,3,0,7)
# expected output

In [27]:
list1=[8,2,3,0,7]

In [28]:
total=sum(list1)

In [30]:
print("the sum of elements in list:",total)

the sum of elements in list: 20