<a href="https://colab.research.google.com/github/HariNaiduG/artificial-intelligence-and-machine-learning/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task 1-creat two list and join two lists

In [ ]:
test_list1=[1,14,15,6,5]

In [ ]:
test_list2=[3,4,7,12,51]

In [ ]:
test_list3 = test_list1 + test_list2

In [ ]:
print("concatenated list using + :" + str(test_list3))

concatenated list using + :[1, 14, 15, 6, 5, 3, 4, 7, 12, 51]

In [ ]:
# task 2- with 'if' statement find the even numbers

In [ ]:
num = int(input("enter a number:"))
if((num % 2) == 0):
    print("num is even")
else:
    print("num is not even")

enter a number:64
num is even

In [ ]:
# task 3- create a dictionary  with 3 keys and 2 valued for each key

In [ ]:
demo = {'first': [1,2],
        'second': [3,4],
        'third':[5,6]}

In [ ]:
example = demo['first']
print( example)

[1, 2]

In [ ]:
# task 4- creat a function with 'if' statement  which  is used to find the odd numbers

In [ ]:
numb = int(input("enter a number"))
if((numb % 2) ==0):
     print("numb is not odd")
else:
     print("numb is odd")

enter a number33
numb is odd

In [ ]:
# task 5- write a python function to sum  all the number in a list

In [ ]:
list1 = [8,2,3,0,7]

In [ ]:
total = sum(list1)

In [ ]:
print("the sum of elements in list :",total)

the sum of elements in list : 20