In [1]:
# Task 1-creat two list and join two lists

In [2]:
test_list1=[8,5,7,2,3]

In [3]:
test_list2=[9,12,1,6,4]

In [4]:
test_list3 = test_list1 + test_list2

In [5]:
print("concatenated list using + :" + str(test_list3))

concatenated list using + :[8, 5, 7, 2, 3, 9, 12, 1, 6, 4]

In [6]:
# task 2- with 'if' statement find the even numbers

In [7]:
num = int(input("enter a number:"))
if((num % 2) == 0):
    print("num is even")
else:
    print("num is not even")

enter a number:6
num is even

In [8]:
# task 3- create a dictionary  with 3 keys and 2 valued for each key

In [9]:
demo = {'first': [9,8],
        'second': [7,6],
        'third':[4,3]}

In [10]:
example = demo['first']
print( example)

[9, 8]

In [11]:
# task 4- creat a function with 'if' statement  which  is used to find the odd numbers

In [13]:
numb = int(input("enter a number"))
if((numb % 2) ==0):
     print("numb is not odd")
else:
     print("numb is odd")

enter a number4
numb is not odd

In [14]:
# task 5- write a python function to sum  all the number in a list

In [15]:
list1 = [8,2,3,0,7]

In [16]:
total = sum(list1)

In [17]:
print("the sum of elements in list :",total)

the sum of elements in list : 20